<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ./partials/head %>
  </head>
  <body class="layout-page-wrap index-background">
    <%- include ./partials/nav %>
    <main class="layout-content-wrap">
      <h1><%= title %></h1>
      <article class="all-teams">
        <a class="h2 team col" href="/avalanche">Avalanche</a>
        <a class="h2 team chi" href="/blackhawks">Blackhawks</a>
        <a class="h2 team cbj" href="/blue-jackets">Blue Jackets</a>
        <a class="h2 team stl" href="/blues">Blues</a>
        <a class="h2 team bos" href="/bruins">Bruins</a>
        <a class="h2 team mtl" href="/canadiens">Canadiens</a>
        <a class="h2 team van" href="/canucks">Canucks</a>
        <a class="h2 team wsh" href="/capitals">Capitals</a>
        <a class="h2 team ari" href="/coyotes">Coyotes</a>
        <a class="h2 team njd" href="/devils">Devils</a>
        <a class="h2 team ana" href="/ducks">Ducks</a>
        <a class="h2 team cgy" href="/flames">Flames</a>
        <a class="h2 team phi" href="/flyers">Flyers</a>
        <a class="h2 team car" href="/golden-seals">Golden Seals</a>
        <a class="h2 team nyi" href="/islanders">Islanders</a>
        <a class="h2 team wpg" href="/jets">Jets</a>
        <a class="h2 team lak" href="/kings">Kings</a>
        <a class="h2 team tbl" href="/lightning">Lightning</a>
        <a class="h2 team tor" href="/maple-leafs">Maple Leafs</a>
        <a class="h2 team edm" href="/oilers">Oilers</a>
        <a class="h2 team fla" href="/panthers">Panthers</a>
        <a class="h2 team pit" href="/penguins">Penguins</a>
        <a class="h2 team nsh" href="/predators">Predators</a>
        <a class="h2 team nyr" href="/rangers">Rangers</a>
        <a class="h2 team det" href="/red-wings">Red Wings</a>
        <a class="h2 team buf" href="/sabres">Sabres</a>
        <a class="h2 team ott" href="/senators">Senators</a>
        <a class="h2 team sjs" href="/sharks">Sharks</a>
        <a class="h2 team dal" href="/stars">Stars</a>
        <a class="h2 team atl" href="/thrashers">Thrashers</a>
        <a class="h2 team min" href="/wild">Wild</a>
      </article>
    </main>
    <%- include ./partials/footer %>
  </body>
</html>








