<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%- include ./partials/og_head %>
  </head>
  <body>

    <%- include ./partials/og_nav %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <article class="original-six">

      <a href="/original-six/blackhawks">
        <section class="team blackhawks">
          <h1>Blackhawks</h1>
        </section>
      </a>

      <a href="/original-six/bruins">
        <section class="team bruins">
          <h1>Bruins</h1>
        </section>
      </a>

      <a href="/original-six/canadiens">
        <section class="team canadiens">
          <h1>Canadiens</h1>
        </section>
      </a>

      <a href="/original-six/mapleleafs">
        <section class="team maple-leafs">
          <h1>Maple Leafs</h1>
        </section>
      </a>

      <a href="/original-six/rangers">
        <section class="team rangers">
          <h1>Rangers</h1>
        </section>
      </a>

      <a href="/original-six/redwings">
        <section class="team red-wings">
          <h1>Red Wings</h1>
        </section>
      </a>

    </article>

  </body>
</html>
