<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ./partials/head %>
  </head>

  <body>

		<%- include ./partials/nav %>

		<article>

			<section class="team">
					<h1><%= team %></h1>

			</section>

		</article>

		<%- include ./partials/all_win_loss %>
		<%- include ./partials/all_goals %>
		<%- include ./partials/ajax_call %>

  </body>
</html>
