<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ./partials/head %>
  </head>
  <body class="layout-page-wrap">
		<%- include ./partials/nav %>
    <main class="layout-content-wrap">
  		<h1 class="h1 team"><%= title %></h1>
      <section class="data">
        <article>
          <%- include ./partials/all_win_loss %>
        </article>
        <article>
          <%- include ./partials/all_goals %>
        </article>
        <article>
          <%- include ./partials/ajax_call %>
        </article>
      </section>
    </main>
    <%- include ./partials/footer %>
    <!-- Scripts -->
    <!-- ChartJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <script src="/javascripts/charts-global.js"></script>
  </body>
</html>
