<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ./partials/head %>
  </head>
  <body class="layout-page-wrap">
		<%- include ./partials/nav %>
    <main class="layout-content-wrap">
  		<h1 class="team"><%= team %></h1>
      <section class="data">
        <article>
          <%- include ./partials/all_win_loss %>
        </article>
        <article>
          <%- include ./partials/all_goals %>
        </article>
        <article>
          <%- include ./partials/ajax_call %>
        </article>
      </section>
    </main>
    <%- include ./partials/footer %>
  </body>
</html>
